/* Dark mode*/
body.dark-mode {
  background-color: #222;
  color: #fff;
}
.oscurin button {
  position: absolute;
  right: 279px;
  top: 26px;
}
/* Header */
header p, header h6, header a {
    color: rgb(0, 0, 0);
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .navbar-nav .nav-item {
    margin-left: 40px;
    
    margin-top: 19px;
  }
  .nav-login {
    margin-top: 27px;
    margin-left: auto;
  }
  
  .nav-login .row {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-login .btn {
    margin-left: 20px;
  
  }
  
  #logo {
    height: 80px;
    width: 80px;
  }
  
  .header-bg-color {
    background-color:#ffffff;
  }
  /* FIN Header */
  
  
  /* Config Banner informacion principal*/
  .foto-info-ppal{
    position: flex;
    width: 1107px; 
    height: 283px;  
    border-radius: 57px;
    margin-top: -30px;
    margin-left: 27px;
    object-fit: cover;          
  }
  .img-preguntas{
    position: flex;
    width: 447px; 
    height: 483px;  
    border-radius: 57px;
    margin-top: -30px;
    margin-left: 27px;
    object-fit: cover;
    z-index: -1;      
  }
  .li-fix-mt{
    margin-top: 10%;
  }
  .text-fix{
    margin-left: 5%;
    
  }  
  .sec-fix-mb{
    margin-bottom: 10%;
    margin-top: 5%;
  }

  .titulo-ayuda{
    margin-left: 80px;
    margin-bottom:30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;
}
.titulo-preguntas{
    margin-left: 400px;
    margin-bottom:90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;    
}


  .eclipse{
    position: absolute;
    width: 25px;
    height: 25px;
    left:-8px;
    top: 70px;
    border-radius: 24px;
    background: #F4E04D;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .eclipse2{
    position: absolute;
    width: 25px;
    height: 25px;
    left:-8px;
    top: 200px;
    border-radius: 24px;
    background: #F4E04D;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .eclipse3{
    position: absolute;
    width: 25px;
    height: 25px;
    left:-8px;
    top: 175px;
    border-radius: 24px;
    background: #F4E04D;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Footer */
  .image-row img {
    flex: 1;
    max-width: 60%;
    height: auto;
    margin-right: 7%;
    border-radius: 8%;
    margin-top: 2.7%;
    border: 2px solid rgba(244, 224, 77, 1);
    transform: scale(1.2);
  }
  
  .iconos-redes{
    height: 40px;
    width: 40px;  
  }
  
  .parrafo-descripcion {
    list-style: disc;
    color: blue;
    padding-left: 0;
  }
  
  footer p, footer h6, footer a {
    color: rgb(255, 255, 255);
  }
  
  .footer-bg-color {
    background-color:rgba(4, 42, 43, 1);
    
  }
  