/* Dark mode*/
body.dark-mode {
  background-color: #222;
  color: #fff;
}
.oscurin button {
  position: absolute;
  right: 279px;
  top: 26px;
}

/* Header */
header p, header h6, header a {
  color: rgb(0, 0, 0);
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item {
  margin-left: 40px;
  
  margin-top: 19px;
}
.nav-login {
  margin-top: 27px;
  margin-left: auto;
}

.nav-login .row {
  display: flex;
  justify-content: flex-end;
}

.nav-login .btn {
  margin-left: 20px;

}

#logo {
  height: 80px;
  width: 80px;
}

.header-bg-color {
  background-color:#ffffff;
}
/* FIN Header */


/* Config Banner informacion principal*/
.foto-info-ppal{
  position: flex;
  width: 1307px; 
  height: 483px;  
  border-radius: 57px;
  margin-top: -30px;
  margin-left: -80px;
  object-fit: cover;

}


/* Config Servicios imagenes*/
.image-row {
  margin-top:5%;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: 33px;
  
}

.info-service{
  margin-top:10%;  
  margin-left: 5%;
}

/* Configuracion pasos*/

.pasos-row {
  margin-top:5%;  
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 3px;  
}


.image-steps{
  width: 340px;
  height: 359px;
  
  border: 1px solid #F4E04D;
  border-radius: 24px;
}
.titulo-pasos{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.titulo-flotante{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
  margin-top: 30px;
  margin-left: 60px;
}
.p-fix{
  margin-top: -5px;
  margin-left: 31px;
  font-size: 12px;
}
.input-fix{
  margin-top: 66px;
  margin-left: 25px;  
}
.input-fix2{
  margin-top: 10px;
  margin-left: 25px;  
}
.input-fix input{
  border-radius: 10px;
}
.input-fix2 input{
  border-radius: 10px;
}
.menu-flotante{
  position: absolute;
  width: 309px;
  height: 283px;
  left: -5px;
  top: 20px;
  background: #FBFBFB;
  border-radius: 24px;
}

#comienzaYA{
  position: absolute;
  top: 338px;
  left: 150px;
  transform: translateX(-50%);
  width: 309px;
  height: 78px;
  color: black;
  font-weight: 400;
  font-size: 25px;
  border-radius: 14px;
  border-color: rgba(244, 224, 77, 1);
  background-color:rgba(244, 224, 77, 1);
  }
.titulo-imagen{
position: absolute;
width: 836px;
height: 116px;
left: 350px;
top: 318px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
color:rgba(244, 224, 77, 1);

}
.titulo-ppl-pasos{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 24px;
  left: -40px;
}
.li-fix-mt{
  margin-top: 10%;
}
.ul-fix-mt{
  margin-top: 39px;
}
.sec-fix-mb{
  margin-bottom: 8%;
}
.eclipse{
  position: absolute;
  width: 25px;
  height: 25px;
  left:-15px;
  top: 56px;
  border-radius: 24px;
  background: #F4E04D;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eclipse2{
  position: absolute;
  width: 25px;
  height: 25px;
  left:-15px;
  top: 163px;
  border-radius: 24px;
  background: #F4E04D;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eclipse3{
  position: absolute;
  width: 25px;
  height: 25px;
  left:-15px;
  top: 56px;
  border-radius: 24px;
  background: #F4E04D;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eclipse4{
  position: absolute;
  width: 25px;
  height: 25px;
  left:-15px;
  top: 163px;
  border-radius: 24px;
  background: #F4E04D;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
.image-row img {
  flex: 1;
  max-width: 60%;
  height: auto;
  margin-right: 7%;
  border-radius: 8%;
  margin-top: 2.7%;
  border: 2px solid rgba(244, 224, 77, 1);
  transform: scale(1.2);
}

.iconos-redes{
  height: 40px;
  width: 40px;  
}

.parrafo-descripcion {
  list-style: disc;
  color: blue;
  padding-left: 0;
}

footer p, footer h6, footer a {
  color: rgb(255, 255, 255);
}

.footer-bg-color {
  background-color:rgba(4, 42, 43, 1);
  
}
