#logo {
  height: 85px;
  width: 85px;
}

.custom-bg-header {
  background-color:#ffffff;
}

.custom-bg-footer {
  background-color:#bbecff;
}

.custom-bg-footer2 {
  background-color:rgba(4, 42, 43, 1);
  
}
.custom-border {
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.foto-custom-descripcion{
  position: flex;
  width: 1307px; 
  height: 483px;  
  border-radius: 57px;
  margin-top: -30px;
  margin-left: -80px;
  object-fit: cover;

}

.texto-descripcion{
  margin-top: 10px;
  padding-top: 20px;
  
 
}

.foto-integrante{
  height: 430px;
  width: 250px;  
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: 33px;
  
}

.image-row img {
  flex: 1;
  max-width: 60%;
  height: auto;
  margin-right: 7%;
  border-radius: 8%;
  margin-top: 2.7%;
  border: 2px solid rgba(244, 224, 77, 1);
  transform: scale(1.2);
}

.iconos-redes{
  height: 40px;
  width: 40px;  
}

.parrafo-descripcion {
  list-style: disc;
  color: blue;
  padding-left: 0;
}

footer p, footer h6, footer a {
  color: rgb(255, 255, 255);
}